@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&family=Oswald&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a, a:active
{text-decoration: none;color: white;}

.menuencabezado{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}


.menu {display: flex;
flex-direction: row;
justify-content: center;
list-style: none;
}

.menu li {
    margin: 30px;
    font-family: 'Oswald', sans-serif;
}

.fotoportada {
    display: block;
    max-width: 1310px;
    max-height: auto;
    border-radius: 10px;

}

/*pie de de pagina*/
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px, 0px;

}

.pie-pagina .grupo-1 .BOX figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  

}

.pie-pagina .grupo-1 .BOX figure img{
width: 250px;

}

.pie-pagina .grupo-1 .BOX h2{
    color: white;
    margin-bottom: 25px;
    font-size: 25px;
}

.pie-pagina .grupo-1 .BOX p{
color: #efefef;
margin-bottom: 10px;

}

.pie-pagina .grupo-1 .BOX .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;

}

.pie-pagina .grupo-1 .BOX .red-social a:hover{
    color: rgb(11, 105, 58);
}

.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 10px 25px;
    text-align: center;
    color: white;


}

.pie-pagina .grupo-2 small{
    font-size: 15px;

}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1 {
        width: 85%;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px;
        padding: 35px, 0px;
    
    }

}

.esteticafacialcaracteristicas{
display: flex;
flex-wrap: wrap;
}

.aside{
flex:30px;
background-color:rgb(11, 105, 58);
padding: 20px;
}

span{
flex:70%;
background-color: beige;
padding: 20px;
}

@media screen and (max-width:850px){
    .esteticafacialcaracteristicas {
        flex-direction: column;
    
    }

}

nav{
background: #0a1a2a;
height: 80px;
width: 100%;

}

.enlace{
    position: absolute;
    padding: 20px;
}
.logo {
    height: 40px;
}

nav ul{
float: right;
margin-right: 20px;

}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5 px; 

}

nav ul li a {
color: #fff;
font-size: 18px;
padding: 7px 13px;
border-radius: 3px;
text-transform: uppercase;
}

li a.active, li a:hover{
background:rgb(11, 105, 58);
transition: .5s;

}

.checkbtn{
font-size: 30px;
color:#fff;
line-height: 80px;
float: right;
margin-right: 40px;
cursor: pointer;
display: none;

}
#check{
    display: none;
}

section{
background: url("../images/foto1.jpg")no-repeat;
background-size: cover;
background-position: center center;
height: calc(100vh - 80px - 185px);
}

@media(max-width:952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width:929px){
.checkbtn{
    display: block;
}
ul{
position: fixed;
width: 100%;
height: 100vh;
background: #0a1a2a;
top: 80px;
left: -100%;
text-align: center;
transition: all .0,5s;
}

nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px; 
    
    }




nav ul li a{
    font-size: 20px;
    }
    
    li a:hover, li a.active{
    background: none;
    color:rgb(51, 75, 59);
    }
    
    #check:checked ~ ul{
        left:0;
    }
}